.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#plot {
    margin-top: 25px;
}

#messages {
    margin-top: 25px;
}

.message {
    padding: 15px;
}

#stats-table {
    margin-top: 25px;
}

#stats-table th {
    text-align: center;
}
